*{margin: 0; padding: 0;}

body{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    background-repeat:  repeat-x;
    background-image: url('../resources/images/fundo.png');
}

.cabecalho{
    background-image: url('../resources/images/cabecalho3.png');
    text-align:center;
    height:170px;
}

.base{
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 5px;
    width: 955px;

}

.ui-inputfield, .ui-widget-content .ui-inputfield,ui-widget-content .ui-selectonemenu-label, .ui-widget-header .ui-inputfield{
     box-shadow: none;
     text-shadow: none;
}

.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus{   
    box-shadow: none;
}

.conteudo{
    background-color:#ffffff;
    padding-bottom: 10px;
    font-size: 10px;
    min-height: 350px;
}

.rodape{
    height:40px;
    color:#FFFFFF;
    background-color:#6CA6CD;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.menu {
    clear:both;
    margin-top:5px;
    margin-bottom:15px;
    font-weight: normal;
    font-size: 1em;
   
}


